@use "../base/templates" as *;
@use "../base/media" as *;

.s-archive-team {
  &__body {
    background: var(--ghost);
    padding: 60px 0px 90px 0px;
    @include laptop-middle {
      padding-bottom: 75px;
    }
    @include laptop-min {
      padding: 60px 0px;
    }
    @include tablet-min {
      padding: 45px 0px;
    }
  }
  &__grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    row-gap: 45px;
    @include laptop-middle {
      grid-template-columns: repeat(3, 1fr);
      row-gap: 30px;
    }
    @include tablet {
      gap: 10px;
      grid-template-columns: repeat(2, 1fr);

      .card-service {
        padding: 20px;
      }
    }
  }
  &__btn-more {
    width: 300px;
    max-width: 100%;

    margin: 45px auto 0px auto;

    @include laptop-min {
      margin-top: 35px;
    }
    @include tablet-min {
      width: 100%;
      margin-top: 25px;
    }
  }
}
