@use '../base/templates' as *;
@use '../base/media' as *;

.s-team {
  &__slider {
    .swiper-slide {
      box-sizing: border-box;
      height: auto !important;

      .card-team {
        height: 100%;
      }
    }
  }
  &__btn-more {
    max-width: 100%;
    width: 300px;
    margin: 25px auto 0px auto;
    @media (min-width: 1025px) {
      display: none;
    }
    @include tablet-min {
      width: 100%;
    }
  }
}