:root {
  --black: #444;
  --primary: #9d948b;
  --primary-h: #8f8982;

  --light: #999;

  --ghost: #f7f6f5;
  --ghost-l: #fbfbfb;
  --ghost-d: #f4f3f2;

  --gray: rgba(0, 0, 0, 0.4);

  --red: #dc3232;
}
