@use "../base/templates" as *;
@use "../base/media" as *;

.btn-s {
  --background: var(--primary);
  --background-h: var(--primary-h);
  --color: white;
  --color-h: white;
  --border: var(--primary);
  --border-h: var(--primary-h);

  @include flex-center;
  cursor: pointer;
  padding: 12px 35px;
  outline: none;
  border-radius: 10px;
  min-height: 68px;
  background-color: var(--background);
  border: 1px solid var(--border);
  width: fit-content;
  gap: 15px;

  user-select: none;
  text-align: center;
  color: var(--color);

  transition:
    color 0.3s ease,
    border-color 0.3s ease,
    background-color 0.3s ease;

  @include tablet {
    min-height: 52px;
    border-radius: 6px;
  }
  @include hover {
    color: var(--color-h);
    background-color: var(--background-h);
    border-color: var(--border-h);
  }

  .icon-play {
    width: 40px;
    height: 40px;

    @include laptop-min {
      width: 35px;
      height: 35px;
    }
    @include tablet {
      width: 30px;
      height: 30px;
    }
  }
  .icon {
    width: 20px;
    height: 20px;
  }

  &._blur {
    --background: rgba(0, 0, 0, 0.2);
    --background-h: rgba(0, 0, 0, 0.4);
    --color: white;
    --color-h: white;
    --border: transparent;
    --border-h: transparent;

    backdrop-filter: blur(15px);
  }
  &._white {
    --background: white;
    --background-h: var(--ghost);
    --color: var(--black);
    --color-h: var(--black);
    --border: white;
    --border-h: var(--ghost);

    svg {
      color: var(--primary);
    }
  }
  &._outline {
    --background: transparent;
    --background-h: var(--primary-h);
    --color: var(--primary);
    --color-h: white;
    --border: var(--primary);
    --border-h: var(--primary-h);
  }
}

.btn-r {
  --background: var(--primary);
  --background-h: var(--primary-h);
  --color: white;
  --color-h: white;
  --border: var(--primary);
  --border-h: var(--primary-h);

  @include flex-center;
  width: 40px;
  height: 40px;
  border-radius: 6px;
  cursor: pointer;
  border: 1px solid var(--border);
  background-color: var(--background);

  color: var(--color);

  transition:
    color 0.3s ease,
    border-color 0.3s ease,
    background-color 0.3s ease;

  @include hover {
    background-color: var(--background-h);
    border-color: var(--border-h);
    color: var(--color-h);
  }

  svg {
    width: 14px;
    height: 14px;
  }
}

.btn-simple {
  cursor: pointer;
  text-decoration: underline;
  color: var(--prmary);
  text-underline-offset: 2px;
  width: fit-content;
  color: var(--primary);

  @include hover {
    text-decoration: none;
  }
}
