@use "../base/templates" as *;
@use "../base/media" as *;

.tag {
  padding: 10px 15px;
  border-radius: 2px 14px 14px 14px;
  background-color: var(--ghost);
  width: fit-content;

  font-weight: 400;
  font-size: 14px;
  color: var(--primary);

  @include tablet {
    padding: 10px 15px;

    font-size: 12px;
  }

  &._white {
    background-color: white;
  }
}
