<aside>
  <div class="burger-overlay" id="burger-overlay"></div>
  <div class="burger" id="burger">
    <div data-burger-tab="burger-tab-start" class="burger__tab _active _show">
      <div class="burger__head">
        <div class="burger__head-btn" data-burger-close>
          <svg>
            <use xlink:href="img/icons/icons.svg#icon-close"></use>
          </svg>
        </div>
      </div>
      <ul class="list burger__list">
        <li>
          <a href="#">
            <span>Услуги</span>
            <div data-burger-tab-btn="burger-tab-1" class="item-rect">
              <svg>
                <use xlink:href="img/icons/icons.svg#icon-next"></use>
              </svg>
            </div>
          </a>
        </li>
        <li>
          <a href="#">
            <span>Наши врачи</span>
          </a>
        </li>
        <li>
          <a href="#">
            <span>Прайс-лист</span>
          </a>
        </li>
        <li>
          <a href="#">
            <span>Акции</span>
          </a>
        </li>
        <li>
          <a href="#">
            <span>О клинике</span>
          </a>
        </li>
        <li>
          <a href="#">
            <span>Контакты</span>
          </a>
        </li>
      </ul>
    </div>
    <div data-burger-tab="burger-tab-1" class="burger__tab">
      <div class="burger__head">
        <div data-burger-tab-btn="burger-tab-start" class="burger__head-btn">
          <svg>
            <use xlink:href="img/icons/icons.svg#icon-prev"></use>
          </svg>
        </div>
        <div class="burger__head-btn" data-burger-close>
          <svg>
            <use xlink:href="img/icons/icons.svg#icon-close"></use>
          </svg>
        </div>
      </div>
      <div class="burger__tab-title">Услуги</div>
      <ul class="list burger__list">
        <li>
          <a href="#">
            <span>Консультации специалистов</span>
            <div data-burger-tab-btn="burger-tab-2" class="item-rect">
              <svg>
                <use xlink:href="img/icons/icons.svg#icon-next"></use>
              </svg>
            </div>
          </a>
        </li>
        <li>
          <a href="#">
            <span>Анализы</span>
          </a>
        </li>
        <li>
          <a href="#">
            <span>Отоларингология</span>
          </a>
        </li>
        <li>
          <a href="#">
            <span>Кардиология</span>
          </a>
        </li>
        <li>
          <a href="#">
            <span>Консультации специалистов</span>
          </a>
        </li>
        <li>
          <a href="#">
            <span>Анализы</span>
          </a>
        </li>
        <li>
          <a href="#">
            <span>Отоларингология</span>
          </a>
        </li>
        <li>
          <a href="#">
            <span>Кардиология</span>
          </a>
        </li>
      </ul>
    </div>
    <div data-burger-tab="burger-tab-2" class="burger__tab">
      <div class="burger__head">
        <div data-burger-tab-btn="burger-tab-1" class="burger__head-btn">
          <svg>
            <use xlink:href="img/icons/icons.svg#icon-prev"></use>
          </svg>
        </div>
        <div class="burger__head-btn" data-burger-close>
          <svg>
            <use xlink:href="img/icons/icons.svg#icon-close"></use>
          </svg>
        </div>
      </div>
      <div class="burger__tab-title">Отоларингология</div>
      <ul class="list burger__list">
        <li>
          <a href="#">
            <span>Консультация врача-оториноларинголога</span>
          </a>
        </li>
        <li>
          <a href="#">
            <span>Промывание миндалин</span>
          </a>
        </li>
        <li>
          <a href="#">
            <span>Пункция гайморовой пазухи</span>
          </a>
        </li>
        <li>
          <a href="#">
            <span>Пневмомассаж барабанной перепонки</span>
          </a>
        </li>
        <li>
          <a href="#">
            <span>Удаление полипа в ухе</span>
          </a>
        </li>
      </ul>
    </div>
    <div class="burger__contacts">
      <a href="tel:+79177887883" class="burger__tel">+7 (917) 788-788-3</a>
      <div class="social header__social">
        <a href="#" target="_blank" rel="nofollow" class="social-item">
          <svg>
            <use xlink:href="img/icons/icons.svg#icon-tg"></use>
          </svg>
        </a>
        <a href="#" target="_blank" rel="nofollow" class="social-item">
          <svg>
            <use xlink:href="img/icons/icons.svg#icon-max"></use>
          </svg>
        </a>
        <a href="#" target="_blank" rel="nofollow" class="social-item">
          <svg>
            <use xlink:href="img/icons/icons.svg#icon-wh"></use>
          </svg>
        </a>
      </div>
      <div class="burger__contacts-content">
        <span>Нефтекамск, пр-т Юбилейный 18 "А"</span>
        <br />
        Пн - Пт / 9:00 - 19:00,
        <br />
        Сб / 10:00 - 18:00, Вс / выходной
      </div>
      <a href="#modal-feedback" class="btn-s burger__btn">
        Записаться на прием
      </a>
    </div>
  </div>
</aside>
