<footer class="footer">
  <div class="container">
    <div class="footer__grid">
      <a href="/" class="footer__logo-mob">
        <img src="@img/logo.png" alt="logo">
      </a>
      <div class="footer__main">
        <a href="/" class="footer__logo">
          <img src="@img/logo.png" alt="logo" />
        </a>
        <div class="footer__main-copyright">
          © Доктор F. Все права защищены. 2021 - 2026
        </div>
        <p class="footer__main-content">
          Обращаем Ваше внимание на то, что данный интернет-сайт носит
          исключительно информационный характер и ни при каких условиях не
          является публичной офертой. Для получения подробной информации о
          стоимости, наименовании и сроках оказания услуг, пожалуйста, обращайтесь
          по контактным телефонам. Конкретный перечень услуг и порядок их
          предоставления определяется в договоре оказания услуг, оформляемым между
          клиникой и пациентом.
        </p>
      </div>
      <div class="footer__nav">
        <div class="footer__nav-col">
          <div class="footer__col-title">О нас</div>
          <ul class="list footer__list">
            <li><a href="#">О клинике</a></li>
            <li><a href="#">Реквизиты</a></li>
            <li><a href="#">Контакты</a></li>
          </ul>
        </div>
        <div class="footer__nav-col">
          <div class="footer__col-title">Услуги</div>
          <ul class="list footer__list">
            <li><a href="#">Консультации специалистов</a></li>
            <li><a href="#">Анализы</a></li>
            <li><a href="#">Отоларингология</a></li>
            <li><a href="#">Косметология</a></li>
          </ul>
        </div>
        <div class="footer__nav-col">
          <div class="footer__col-title">Полезное</div>
          <ul class="list footer__list">
            <li><a href="#">Акции</a></li>
            <li>
              <a href="#">
                Программа государственных гарантий бесплатного оказания гражданам
                медицинской помощи
              </a>
            </li>
            <li>
              <a href="#">Правила предоставления платных медицинских услуг</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="footer__contacts">
        <div class="footer__col-title">Наши контакты</div>
        <div class="footer__contacts-wrap">
          <div>
            <a href="tel:+79177887883" class="footer__tel">+7 (917) 788-788-3</a>
            <a href="mailto:ooodoctorf@mail.ru" class="footer__mail">
              ooodoctorf@mail.ru
            </a>
          </div>
          <div class="social">
            <a href="#" target="_blank" rel="nofollow" class="social-item">
              <svg>
                <use xlink:href="img/icons/icons.svg#icon-tg"></use>
              </svg>
            </a>
            <a href="#" target="_blank" rel="nofollow" class="social-item">
              <svg>
                <use xlink:href="img/icons/icons.svg#icon-max"></use>
              </svg>
            </a>
            <a href="#" target="_blank" rel="nofollow" class="social-item">
              <svg>
                <use xlink:href="img/icons/icons.svg#icon-wh"></use>
              </svg>
            </a>
          </div>
          <div>
            <div class="footer__address">г. Нефтекамск, пр-т Юбилейный 18 «А»</div>
            <div class="footer__work-time">
              Пн - Пт / 9:00 - 19:00,
              <br />
              Сб / 10:00 - 18:00, Вс / выходной
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="footer__bottom">
    <div class="container">
      <ul class="list footer__bottom-list">
        <li>ООО "Доктор Ф", ИНН: 0264078962, КПП: 026401001, ОГРН: 1200200053547</li>
        <li>Лицензия № Л041-01170-02/00359566 от 29.01.2021</li>
        <li><a href="#" target="_blank">Публичная оферта</a></li>
        <li><a href="#" target="_blank">Правила обработки персональных данных</a></li>
        <li class="_dev">
          <a href="https://qorix.ru/" target="_blank">
            <span>Разработка сайта —</span>
            <img src="@img/qorix.svg" alt="image">
          </a>
        </li>
      </ul>
    </div>
  </div>
</footer>

<script src="./files/swiper/swiper.min.js"></script>
<script src="./files/fancybox/fancybox.min.js"></script>
<script src="./files/inputmask/inputmask.min.js"></script>
<script src="./files/tippy/popper.min.js"></script>
<script src="./files/tippy/tippy.min.js"></script>