<header class="header">
  <div class="container">
    <div class="header__wrap">
      <a href="/" class="header__logo">
        <img src="@img/logo.png" alt="logo" />
      </a>
      <nav class="header__nav">
        <ul class="list header__list">
          <li>
            <div class="item-list _fill" id="services-drop-btn">
              <svg>
                <use xlink:href="img/icons/icons.svg#icon-service-points"></use>
              </svg>
              <span>Услуги</span>
            </div>
          </li>
          <li>
            <a href="#" class="item-list">
              <span>Наши врачи</span>
            </a>
          </li>
          <li>
            <a href="#" class="item-list">
              <span>Прайс-лист</span>
            </a>
          </li>
          <li>
            <a href="#" class="item-list">
              <span>Акции</span>
            </a>
          </li>
          <li>
            <a href="#" class="item-list">
              <span>О клинике</span>
            </a>
          </li>
          <li>
            <a href="#" class="item-list">
              <span>Контакты</span>
            </a>
          </li>
        </ul>
      </nav>
      <div class="header__contacts">
        <div class="social header__social">
          <a href="#" target="_blank" rel="nofollow" class="social-item">
            <svg>
              <use xlink:href='img/icons/icons.svg#icon-tg'></use>
            </svg>
          </a>
          <a href="#" target="_blank" rel="nofollow" class="social-item">
            <svg>
              <use xlink:href='img/icons/icons.svg#icon-max'></use>
            </svg>
          </a>
          <a href="#" target="_blank" rel="nofollow" class="social-item">
            <svg>
              <use xlink:href='img/icons/icons.svg#icon-wh'></use>
            </svg>
          </a>
          <a href="tel:+79177887883" target="_blank" rel="nofollow" class="social-item _mob">
            <svg>
              <use xlink:href='img/icons/icons.svg#icon-tel'></use>
            </svg>
          </a>
        </div>
        <div class="header__contacts-main">
          <a href="tel:+79177887883" class="header__tel">+7 (917) 788-788-3</a>
          <div class="header__address">Нефтекамск, пр-т Юбилейный 18 "А"</div>
        </div>
      </div>
      <div class="header__burger-btn" id="burger-open">
        <svg>
          <use xlink:href='img/icons/icons.svg#icon-burger'></use>
        </svg>
      </div>
    </div>
  </div>
</header>

<div class="service-drop-overlay" id="services-drop-overlay"></div>
<div class="service-drop" id="services-drop">
  <div class="container">
    <div class="service-drop__grid">
      <div class="service-drop__item">
        <div class="service-drop__item-title">Консультации специалистов</div>
        <ul class="list service-drop__item-list">
          <li><a href="#">Терапевт</a></li>
          <li><a href="#">Отоларинголог</a></li>
          <li><a href="#">Хирург</a></li>
          <li><a href="#">Кардиолог</a></li>
          <li><a href="#">Гинеколог</a></li>
          <li><a href="#">УЗИ / Урофлоуметрия</a></li>
        </ul>
        <a href="#" class="service-drop__item-more">Больше услуг</a>
      </div>
      <div class="service-drop__item">
        <div class="service-drop__item-title">Консультации специалистов</div>
        <ul class="list service-drop__item-list">
          <li><a href="#">Терапевт</a></li>
          <li><a href="#">Отоларинголог</a></li>
          <li><a href="#">Хирург</a></li>
          <li><a href="#">Кардиолог</a></li>
          <li><a href="#">Гинеколог</a></li>
          <li><a href="#">УЗИ / Урофлоуметрия</a></li>
        </ul>
        <a href="#" class="service-drop__item-more">Больше услуг</a>
      </div>
      <div class="service-drop__item">
        <div class="service-drop__item-title">Консультации специалистов</div>
        <ul class="list service-drop__item-list">
          <li><a href="#">Терапевт</a></li>
          <li><a href="#">Отоларинголог</a></li>
          <li><a href="#">Хирург</a></li>
          <li><a href="#">Кардиолог</a></li>
          <li><a href="#">Гинеколог</a></li>
          <li><a href="#">УЗИ / Урофлоуметрия</a></li>
        </ul>
        <a href="#" class="service-drop__item-more">Больше услуг</a>
      </div>
      <div class="service-drop__item">
        <div class="service-drop__item-title">Консультации специалистов</div>
        <ul class="list service-drop__item-list">
          <li><a href="#">Терапевт</a></li>
          <li><a href="#">Отоларинголог</a></li>
          <li><a href="#">Хирург</a></li>
          <li><a href="#">Кардиолог</a></li>
          <li><a href="#">Гинеколог</a></li>
          <li><a href="#">УЗИ / Урофлоуметрия</a></li>
        </ul>
        <a href="#" class="service-drop__item-more">Больше услуг</a>
      </div>
      <div class="service-drop__item">
        <div class="service-drop__item-title">Консультации специалистов</div>
        <ul class="list service-drop__item-list">
          <li><a href="#">Терапевт</a></li>
          <li><a href="#">Отоларинголог</a></li>
          <li><a href="#">Хирург</a></li>
          <li><a href="#">Кардиолог</a></li>
          <li><a href="#">Гинеколог</a></li>
          <li><a href="#">УЗИ / Урофлоуметрия</a></li>
        </ul>
        <a href="#" class="service-drop__item-more">Больше услуг</a>
      </div>
      <div class="service-drop__item">
        <div class="service-drop__item-title">Консультации специалистов</div>
        <ul class="list service-drop__item-list">
          <li><a href="#">Терапевт</a></li>
          <li><a href="#">Отоларинголог</a></li>
          <li><a href="#">Хирург</a></li>
          <li><a href="#">Кардиолог</a></li>
          <li><a href="#">Гинеколог</a></li>
          <li><a href="#">УЗИ / Урофлоуметрия</a></li>
        </ul>
        <a href="#" class="service-drop__item-more">Больше услуг</a>
      </div>
      <div class="service-drop__item">
        <div class="service-drop__item-title">Консультации специалистов</div>
        <ul class="list service-drop__item-list">
          <li><a href="#">Терапевт</a></li>
          <li><a href="#">Отоларинголог</a></li>
          <li><a href="#">Хирург</a></li>
          <li><a href="#">Кардиолог</a></li>
          <li><a href="#">Гинеколог</a></li>
          <li><a href="#">УЗИ / Урофлоуметрия</a></li>
        </ul>
        <a href="#" class="service-drop__item-more">Больше услуг</a>
      </div>
      <div class="service-drop__item">
        <div class="service-drop__item-title">Консультации специалистов</div>
        <ul class="list service-drop__item-list">
          <li><a href="#">Терапевт</a></li>
          <li><a href="#">Отоларинголог</a></li>
          <li><a href="#">Хирург</a></li>
          <li><a href="#">Кардиолог</a></li>
          <li><a href="#">Гинеколог</a></li>
          <li><a href="#">УЗИ / Урофлоуметрия</a></li>
        </ul>
        <a href="#" class="service-drop__item-more">Больше услуг</a>
      </div>
    </div>
  </div>
</div>