<section class="s-about sect-m">
  <div class="container">
    <div class="sect-head">
      <div class="sect-head__wrap">
        <div class="sect-head__info">
          <div class="tag">О нас</div>
          <h2 class="s-title">
            Многопрофильная клиника «Доктор Ф» в Нефтекамске
          </h2>
          <div class="content-box sect-head__content">
            <p>
              Многопрофильная клиника расположена в центре города, возле ТЦ
              “УРАЛ”.
            </p>
            <p>
              Оказываем медицинские услуги широкого спектра, в том числе услуги
              косметолога. Все виды анализов, выезд специалистов на дом.
            </p>
            <p>Прием граждан главным врачом клиники: ВТ-ЧТ / 11:00-13:00</p>
          </div>
        </div>
        <div class="sect-head__nav">
          <div class="slider-nav">
            <div class="slider-arrow _prev">
              <svg>
                <use xlink:href="img/icons/icons.svg#icon-prev"></use>
              </svg>
            </div>
            <div class="slider-arrow _next">
              <svg>
                <use xlink:href="img/icons/icons.svg#icon-next"></use>
              </svg>
            </div>
          </div>
        </div>
        <svg class="icon-swipe">
          <use xlink:href="img/icons/icons.svg#icon-swipe"></use>
        </svg>
      </div>
    </div>
    <div class="swiper s-about__slider">
      <div class="swiper-wrapper">
        <a
          href="@img/connect.jpg"
          data-fancybox="about-gallery"
          class="swiper-slide s-about__slide"
        >
          <img src="@img/connect.jpg" alt="image" />
        </a>
        <a
          href="@img/connect.jpg"
          data-fancybox="about-gallery"
          class="swiper-slide s-about__slide"
        >
          <img src="@img/connect.jpg" alt="image" />
        </a>
        <a
          href="@img/connect.jpg"
          data-fancybox="about-gallery"
          class="swiper-slide s-about__slide"
        >
          <img src="@img/connect.jpg" alt="image" />
        </a>
        <a
          href="@img/connect.jpg"
          data-fancybox="about-gallery"
          class="swiper-slide s-about__slide"
        >
          <img src="@img/connect.jpg" alt="image" />
        </a>
        <a
          href="@img/connect.jpg"
          data-fancybox="about-gallery"
          class="swiper-slide s-about__slide"
        >
          <img src="@img/connect.jpg" alt="image" />
        </a>
        <a
          href="@img/connect.jpg"
          data-fancybox="about-gallery"
          class="swiper-slide s-about__slide"
        >
          <img src="@img/connect.jpg" alt="image" />
        </a>
        <a
          href="@img/connect.jpg"
          data-fancybox="about-gallery"
          class="swiper-slide s-about__slide"
        >
          <img src="@img/connect.jpg" alt="image" />
        </a>
        <a
          href="@img/connect.jpg"
          data-fancybox="about-gallery"
          class="swiper-slide s-about__slide"
        >
          <img src="@img/connect.jpg" alt="image" />
        </a>
        <a
          href="@img/connect.jpg"
          data-fancybox="about-gallery"
          class="swiper-slide s-about__slide"
        >
          <img src="@img/connect.jpg" alt="image" />
        </a>
      </div>
    </div>
    <div class="slider-pagination _tablet"></div>
  </div>
</section>