<div class="s-archive-team sect-m">
  <div class="s-archive-team__body">
    <div class="container">
      <div class="s-archive-team__grid">
        <article class="card-team">
          <a href="#" class="card-team__gallery">
            <img src="@img/team.jpg" alt="image" class="card-team__img" />
            <h3 class="card-team__title">Фазлетдинов Абдулла Дамирович</h3>
          </a>
          <div class="card-team__tag">Стаж работы: 20 лет</div>
          <p class="card-team__content">
            Врач-уролог, в 2001 окончил Башкирский медицинский государственный
            университет. Кандидат медицинских наук.
          </p>
          <a href="#" class="btn-simple card-team__btn-more">Подробнее</a>
          <a
            href="#modal-feedback"
            data-fancybox
            data-modal-title="Записаться на приём"
            data-target-note="#modal-feedback .input-note"
            data-btn-note="Записаться к врачу: Фазлетдинов Абдулла Дамирович"
            class="btn-s card-team__btn"
          >
            Записаться на прием
          </a>
        </article>
        <article class="card-team">
          <a href="#" class="card-team__gallery">
            <img src="@img/team.jpg" alt="image" class="card-team__img" />
            <h3 class="card-team__title">Фазлетдинов Абдулла Дамирович</h3>
          </a>
          <div class="card-team__tag">Стаж работы: 20 лет</div>
          <p class="card-team__content">
            Врач-уролог, в 2001 окончил Башкирский медицинский государственный
            университет. Кандидат медицинских наук.
          </p>
          <a href="#" class="btn-simple card-team__btn-more">Подробнее</a>
          <a
            href="#modal-feedback"
            data-fancybox
            data-modal-title="Записаться на приём"
            data-target-note="#modal-feedback .input-note"
            data-btn-note="Записаться к врачу: Фазлетдинов Абдулла Дамирович"
            class="btn-s card-team__btn"
          >
            Записаться на прием
          </a>
        </article>
        <article class="card-team">
          <a href="#" class="card-team__gallery">
            <img src="@img/team.jpg" alt="image" class="card-team__img" />
            <h3 class="card-team__title">Фазлетдинов Абдулла Дамирович</h3>
          </a>
          <div class="card-team__tag">Стаж работы: 20 лет</div>
          <p class="card-team__content">
            Врач-уролог, в 2001 окончил Башкирский медицинский государственный
            университет. Кандидат медицинских наук.
          </p>
          <a href="#" class="btn-simple card-team__btn-more">Подробнее</a>
          <a
            href="#modal-feedback"
            data-fancybox
            data-modal-title="Записаться на приём"
            data-target-note="#modal-feedback .input-note"
            data-btn-note="Записаться к врачу: Фазлетдинов Абдулла Дамирович"
            class="btn-s card-team__btn"
          >
            Записаться на прием
          </a>
        </article>
        <article class="card-team">
          <a href="#" class="card-team__gallery">
            <img src="@img/team.jpg" alt="image" class="card-team__img" />
            <h3 class="card-team__title">Фазлетдинов Абдулла Дамирович</h3>
          </a>
          <div class="card-team__tag">Стаж работы: 20 лет</div>
          <p class="card-team__content">
            Врач-уролог, в 2001 окончил Башкирский медицинский государственный
            университет. Кандидат медицинских наук.
          </p>
          <a href="#" class="btn-simple card-team__btn-more">Подробнее</a>
          <a
            href="#modal-feedback"
            data-fancybox
            data-modal-title="Записаться на приём"
            data-target-note="#modal-feedback .input-note"
            data-btn-note="Записаться к врачу: Фазлетдинов Абдулла Дамирович"
            class="btn-s card-team__btn"
          >
            Записаться на прием
          </a>
        </article>
        <article class="card-team">
          <a href="#" class="card-team__gallery">
            <img src="@img/team.jpg" alt="image" class="card-team__img" />
            <h3 class="card-team__title">Фазлетдинов Абдулла Дамирович</h3>
          </a>
          <div class="card-team__tag">Стаж работы: 20 лет</div>
          <p class="card-team__content">
            Врач-уролог, в 2001 окончил Башкирский медицинский государственный
            университет. Кандидат медицинских наук.
          </p>
          <a href="#" class="btn-simple card-team__btn-more">Подробнее</a>
          <a
            href="#modal-feedback"
            data-fancybox
            data-modal-title="Записаться на приём"
            data-target-note="#modal-feedback .input-note"
            data-btn-note="Записаться к врачу: Фазлетдинов Абдулла Дамирович"
            class="btn-s card-team__btn"
          >
            Записаться на прием
          </a>
        </article>
        <article class="card-team">
          <a href="#" class="card-team__gallery">
            <img src="@img/team.jpg" alt="image" class="card-team__img" />
            <h3 class="card-team__title">Фазлетдинов Абдулла Дамирович</h3>
          </a>
          <div class="card-team__tag">Стаж работы: 20 лет</div>
          <p class="card-team__content">
            Врач-уролог, в 2001 окончил Башкирский медицинский государственный
            университет. Кандидат медицинских наук.
          </p>
          <a href="#" class="btn-simple card-team__btn-more">Подробнее</a>
          <a
            href="#modal-feedback"
            data-fancybox
            data-modal-title="Записаться на приём"
            data-target-note="#modal-feedback .input-note"
            data-btn-note="Записаться к врачу: Фазлетдинов Абдулла Дамирович"
            class="btn-s card-team__btn"
          >
            Записаться на прием
          </a>
        </article>
        <article class="card-team">
          <a href="#" class="card-team__gallery">
            <img src="@img/team.jpg" alt="image" class="card-team__img" />
            <h3 class="card-team__title">Фазлетдинов Абдулла Дамирович</h3>
          </a>
          <div class="card-team__tag">Стаж работы: 20 лет</div>
          <p class="card-team__content">
            Врач-уролог, в 2001 окончил Башкирский медицинский государственный
            университет. Кандидат медицинских наук.
          </p>
          <a href="#" class="btn-simple card-team__btn-more">Подробнее</a>
          <a
            href="#modal-feedback"
            data-fancybox
            data-modal-title="Записаться на приём"
            data-target-note="#modal-feedback .input-note"
            data-btn-note="Записаться к врачу: Фазлетдинов Абдулла Дамирович"
            class="btn-s card-team__btn"
          >
            Записаться на прием
          </a>
        </article>
        <article class="card-team">
          <a href="#" class="card-team__gallery">
            <img src="@img/team.jpg" alt="image" class="card-team__img" />
            <h3 class="card-team__title">Фазлетдинов Абдулла Дамирович</h3>
          </a>
          <div class="card-team__tag">Стаж работы: 20 лет</div>
          <p class="card-team__content">
            Врач-уролог, в 2001 окончил Башкирский медицинский государственный
            университет. Кандидат медицинских наук.
          </p>
          <a href="#" class="btn-simple card-team__btn-more">Подробнее</a>
          <a
            href="#modal-feedback"
            data-fancybox
            data-modal-title="Записаться на приём"
            data-target-note="#modal-feedback .input-note"
            data-btn-note="Записаться к врачу: Фазлетдинов Абдулла Дамирович"
            class="btn-s card-team__btn"
          >
            Записаться на прием
          </a>
        </article>
        <article class="card-team">
          <a href="#" class="card-team__gallery">
            <img src="@img/team.jpg" alt="image" class="card-team__img" />
            <h3 class="card-team__title">Фазлетдинов Абдулла Дамирович</h3>
          </a>
          <div class="card-team__tag">Стаж работы: 20 лет</div>
          <p class="card-team__content">
            Врач-уролог, в 2001 окончил Башкирский медицинский государственный
            университет. Кандидат медицинских наук.
          </p>
          <a href="#" class="btn-simple card-team__btn-more">Подробнее</a>
          <a
            href="#modal-feedback"
            data-fancybox
            data-modal-title="Записаться на приём"
            data-target-note="#modal-feedback .input-note"
            data-btn-note="Записаться к врачу: Фазлетдинов Абдулла Дамирович"
            class="btn-s card-team__btn"
          >
            Записаться на прием
          </a>
        </article>
        <article class="card-team">
          <a href="#" class="card-team__gallery">
            <img src="@img/team.jpg" alt="image" class="card-team__img" />
            <h3 class="card-team__title">Фазлетдинов Абдулла Дамирович</h3>
          </a>
          <div class="card-team__tag">Стаж работы: 20 лет</div>
          <p class="card-team__content">
            Врач-уролог, в 2001 окончил Башкирский медицинский государственный
            университет. Кандидат медицинских наук.
          </p>
          <a href="#" class="btn-simple card-team__btn-more">Подробнее</a>
          <a
            href="#modal-feedback"
            data-fancybox
            data-modal-title="Записаться на приём"
            data-target-note="#modal-feedback .input-note"
            data-btn-note="Записаться к врачу: Фазлетдинов Абдулла Дамирович"
            class="btn-s card-team__btn"
          >
            Записаться на прием
          </a>
        </article>
        <article class="card-team">
          <a href="#" class="card-team__gallery">
            <img src="@img/team.jpg" alt="image" class="card-team__img" />
            <h3 class="card-team__title">Фазлетдинов Абдулла Дамирович</h3>
          </a>
          <div class="card-team__tag">Стаж работы: 20 лет</div>
          <p class="card-team__content">
            Врач-уролог, в 2001 окончил Башкирский медицинский государственный
            университет. Кандидат медицинских наук.
          </p>
          <a href="#" class="btn-simple card-team__btn-more">Подробнее</a>
          <a
            href="#modal-feedback"
            data-fancybox
            data-modal-title="Записаться на приём"
            data-target-note="#modal-feedback .input-note"
            data-btn-note="Записаться к врачу: Фазлетдинов Абдулла Дамирович"
            class="btn-s card-team__btn"
          >
            Записаться на прием
          </a>
        </article>
        <article class="card-team">
          <a href="#" class="card-team__gallery">
            <img src="@img/team.jpg" alt="image" class="card-team__img" />
            <h3 class="card-team__title">Фазлетдинов Абдулла Дамирович</h3>
          </a>
          <div class="card-team__tag">Стаж работы: 20 лет</div>
          <p class="card-team__content">
            Врач-уролог, в 2001 окончил Башкирский медицинский государственный
            университет. Кандидат медицинских наук.
          </p>
          <a href="#" class="btn-simple card-team__btn-more">Подробнее</a>
          <a
            href="#modal-feedback"
            data-fancybox
            data-modal-title="Записаться на приём"
            data-target-note="#modal-feedback .input-note"
            data-btn-note="Записаться к врачу: Фазлетдинов Абдулла Дамирович"
            class="btn-s card-team__btn"
          >
            Записаться на прием
          </a>
        </article>
      </div>
      <div class="btn-s s-archive-team__btn-more">Показать еще</div>
    </div>
  </div>
</div>
