<section class="s-archive-services sect-m">
  <div class="container">
    <div class="sect-head">
      <h1 class="s-title">Консультации специалистов</h1>
    </div>
    <div class="s-archive-services__grid">
      <a href="#" class="card-service">
        <div class="card-service__name">Терапевт</div>
        <svg class="card-service__arrow">
          <use xlink:href="img/icons/icons.svg#icon-arrow-rotate"></use>
        </svg>
      </a>
      <a href="#" class="card-service">
        <div class="card-service__name">Терапевт</div>
        <svg class="card-service__arrow">
          <use xlink:href="img/icons/icons.svg#icon-arrow-rotate"></use>
        </svg>
      </a>
      <a href="#" class="card-service">
        <div class="card-service__name">Терапевт</div>
        <svg class="card-service__arrow">
          <use xlink:href="img/icons/icons.svg#icon-arrow-rotate"></use>
        </svg>
      </a>
      <a href="#" class="card-service">
        <div class="card-service__name">Терапевт</div>
        <svg class="card-service__arrow">
          <use xlink:href="img/icons/icons.svg#icon-arrow-rotate"></use>
        </svg>
      </a>
      <a href="#" class="card-service">
        <div class="card-service__name">Терапевт</div>
        <svg class="card-service__arrow">
          <use xlink:href="img/icons/icons.svg#icon-arrow-rotate"></use>
        </svg>
      </a>
      <a href="#" class="card-service">
        <div class="card-service__name">Терапевт</div>
        <svg class="card-service__arrow">
          <use xlink:href="img/icons/icons.svg#icon-arrow-rotate"></use>
        </svg>
      </a>
      <a href="#" class="card-service">
        <div class="card-service__name">Терапевт</div>
        <svg class="card-service__arrow">
          <use xlink:href="img/icons/icons.svg#icon-arrow-rotate"></use>
        </svg>
      </a>
      <a href="#" class="card-service">
        <div class="card-service__name">Терапевт</div>
        <svg class="card-service__arrow">
          <use xlink:href="img/icons/icons.svg#icon-arrow-rotate"></use>
        </svg>
      </a>
      <a href="#" class="card-service">
        <div class="card-service__name">Терапевт</div>
        <svg class="card-service__arrow">
          <use xlink:href="img/icons/icons.svg#icon-arrow-rotate"></use>
        </svg>
      </a>
      <a href="#" class="card-service">
        <div class="card-service__name">Терапевт</div>
        <svg class="card-service__arrow">
          <use xlink:href="img/icons/icons.svg#icon-arrow-rotate"></use>
        </svg>
      </a>
      <a href="#" class="card-service">
        <div class="card-service__name">Терапевт</div>
        <svg class="card-service__arrow">
          <use xlink:href="img/icons/icons.svg#icon-arrow-rotate"></use>
        </svg>
      </a>
      <a href="#" class="card-service">
        <div class="card-service__name">Терапевт</div>
        <svg class="card-service__arrow">
          <use xlink:href="img/icons/icons.svg#icon-arrow-rotate"></use>
        </svg>
      </a>
    </div>
    <div class="btn-s s-archive-services__btn-more">Показать еще</div>
  </div>
</section>
