<section class="s-contacts sect-p bg-ghost">
  <div class="container">
    <div class="sect-head">
      <div class="sect-head__wrap">
        <div class="sect-head__info">
          <div class="tag _white">Адрес клиники</div>
          <h2 class="s-title">Где мы находимся</h2>
        </div>
      </div>
    </div>
    <div class="s-contacts__map-wrap">
      <div
        class="s-contacts__map map"
        data-center="[56.087524068634956,54.235578499999995]"
        data-zoom="18"
        data-icon="@img/location-point.svg"
      ></div>
      <div class="s-contacts__info">
        <div class="s-contacts__address">Нефтекамск, <br> пр-т Юбилейный 18 «А»</div>
        <a href="#" target="_blank" rel="nofollow" class="btn-s s-contacts__btn-map">Проложить маршрут</a>
      </div>
    </div>
  </div>
</section>
