<section class="s-contacts sect-m">
  <div class="container">
    <div class="s-contacts__grid">
      <div class="s-contacts__item">
        <div class="item-name">Телефон для записи</div>
        <a href="tel:+79177887883" class="item-tel">+7 (917) 788-788-3</a>
      </div>
      <div class="s-contacts__item">
        <div class="item-name">Мессенджеры</div>
        <div class="social-c">
          <a href="#" target="_blank" rel="nofollow" class="social-item-c">
            <svg>
              <use xlink:href="img/icons/icons.svg#icon-tg"></use>
            </svg>
          </a>
          <a href="#" target="_blank" rel="nofollow" class="social-item-c">
            <svg>
              <use xlink:href="img/icons/icons.svg#icon-max"></use>
            </svg>
          </a>
          <a href="#" target="_blank" rel="nofollow" class="social-item-c">
            <svg>
              <use xlink:href="img/icons/icons.svg#icon-wh"></use>
            </svg>
          </a>
        </div>
      </div>
      <div class="s-contacts__item">
        <div class="item-name">Мы находимся по адресу</div>
        <div class="item-content">Нефтекамск, пр-т Юбилейный 18 "А"</div>
      </div>
      <div class="s-contacts__item">
        <div class="item-name">График работы</div>
        <div class="item-content">
          Пн - Пт / 9:00 - 19:00,
          <br />
          Сб / 10:00 - 18:00, Вс / выходной
        </div>
      </div>
    </div>
    <div class="s-contacts__map-wrap">
      <div
        class="s-contacts__map map"
        data-center="[56.087524068634956,54.235578499999995]"
        data-zoom="18"
        data-icon="@img/location-point.svg"
      ></div>
      <div class="s-contacts__info">
        <div class="s-contacts__address">
          Нефтекамск,
          <br />
          пр-т Юбилейный 18 «А»
        </div>
        <a
          href="#"
          target="_blank"
          rel="nofollow"
          class="btn-s s-contacts__btn-map"
        >
          Проложить маршрут
        </a>
      </div>
    </div>
  </div>
</section>
