<section class="s-doctor sect-m">
  <div class="container">
    <div class="s-doctor__wrap">
      <div class="s-doctor__gallery">
        <div class="gallery-inside">
          <img src="@img/team.jpg" alt="image" />
        </div>
      </div>
      <div class="s-doctor__body">
        <div class="s-doctor__head">
          <div class="tag _white s-doctor__tag">Стаж работы: 20 лет</div>
          <h1 class="s-title s-doctor__title">Фазлетдинов Абдулла Дамирович</h1>
          <div class="content-box s-doctor__content">
            <p>
              <strong>Стаж работы: 20 лет</strong>
            </p>
            <p>
              Врач-уролог, в 2001 окончил Башкирский медицинский государственный
              университет. Кандидат медицинских наук.
            </p>
          </div>
          <div class="s-doctor__buttons">
            <a
              href="#modal-feedback"
              data-fancybox
              data-modal-title="Записаться на прием"
              data-target-note="#modal-feedback .input-note"
              data-btn-note="Записаться на прием"
              class="btn-s"
            >
              Записаться на прием
            </a>
            <a href="#" target="_blank" rel="nofollow" class="btn-s _outline">
              Оставить отзыв
            </a>
          </div>
        </div>
        <div class="s-doctor__sect">
          <div class="s-title s-doctor__sect-title">
            Образование и повышение квалификации
          </div>
          <ul class="list s-doctor__sect-list">
            <li>
              <div class="item-val">2018</div>
              <div class="item-text">
                Казанский государственный медицинский университет-Врач-педиатр
              </div>
            </li>
            <li>
              <div class="item-val">2018</div>
              <div class="item-text">
                Свидетельство об аккредитации по специальности Врач педиатр
                участковый
              </div>
            </li>
            <li>
              <div class="item-val">2020</div>
              <div class="item-text">
                Российская Медицинская академия непрерывного профессионального
                образования»- Врач-невролог
              </div>
            </li>
            <li>
              <div class="item-val">2021</div>
              <div class="item-text">
                Свидетельство об аккредитации по специальности Врач-невролог
              </div>
            </li>
          </ul>
        </div>
        <div class="s-doctor__sect">
          <div class="s-title s-doctor__sect-title">Цены на услуги</div>
          <div data-count-show="10" class="container-more">
            <div class="prices-table s-doctor__prices-table">
              <div class="table-head">
                <div class="table-row">
                  <div class="table-cell">Код услуги</div>
                  <div class="table-cell">Услуга</div>
                  <div class="table-cell">Стоимость</div>
                </div>
              </div>
              <div class="table-body">
                <div data-more-item>
                  <div class="table-row">
                    <div class="table-cell">031141</div>
                    <div class="table-cell">
                      Прием (осмотр, консультация) врача-терапевта первичный,
                      лечебно-диагностический, амбулаторный
                    </div>
                    <div class="table-cell">2 900 руб.</div>
                  </div>
                </div>
                <div data-more-item>
                  <div class="table-row">
                    <div class="table-cell">031141</div>
                    <div class="table-cell">
                      Прием (осмотр, консультация) врача-терапевта первичный,
                      лечебно-диагностический, амбулаторный
                    </div>
                    <div class="table-cell">2 900 руб.</div>
                  </div>
                </div>
                <div data-more-item>
                  <div class="table-row">
                    <div class="table-cell">031141</div>
                    <div class="table-cell">
                      Прием (осмотр, консультация) врача-терапевта первичный,
                      лечебно-диагностический, амбулаторный
                    </div>
                    <div class="table-cell">2 900 руб.</div>
                  </div>
                </div>
                <div data-more-item>
                  <div class="table-row">
                    <div class="table-cell">031141</div>
                    <div class="table-cell">
                      Прием (осмотр, консультация) врача-терапевта первичный,
                      лечебно-диагностический, амбулаторный
                    </div>
                    <div class="table-cell">2 900 руб.</div>
                  </div>
                </div>
                <div data-more-item>
                  <div class="table-row">
                    <div class="table-cell">031141</div>
                    <div class="table-cell">
                      Прием (осмотр, консультация) врача-терапевта первичный,
                      лечебно-диагностический, амбулаторный
                    </div>
                    <div class="table-cell">2 900 руб.</div>
                  </div>
                </div>
                <div data-more-item>
                  <div class="table-row">
                    <div class="table-cell">031141</div>
                    <div class="table-cell">
                      Прием (осмотр, консультация) врача-терапевта первичный,
                      лечебно-диагностический, амбулаторный
                    </div>
                    <div class="table-cell">2 900 руб.</div>
                  </div>
                </div>
                <div data-more-item>
                  <div class="table-row">
                    <div class="table-cell">031141</div>
                    <div class="table-cell">
                      Прием (осмотр, консультация) врача-терапевта первичный,
                      лечебно-диагностический, амбулаторный
                    </div>
                    <div class="table-cell">2 900 руб.</div>
                  </div>
                </div>
                <div data-more-item>
                  <div class="table-row">
                    <div class="table-cell">031141</div>
                    <div class="table-cell">
                      Прием (осмотр, консультация) врача-терапевта первичный,
                      лечебно-диагностический, амбулаторный
                    </div>
                    <div class="table-cell">2 900 руб.</div>
                  </div>
                </div>
                <div data-more-item>
                  <div class="table-row">
                    <div class="table-cell">031141</div>
                    <div class="table-cell">
                      Прием (осмотр, консультация) врача-терапевта первичный,
                      лечебно-диагностический, амбулаторный
                    </div>
                    <div class="table-cell">2 900 руб.</div>
                  </div>
                </div>
                <div data-more-item>
                  <div class="table-row">
                    <div class="table-cell">031141</div>
                    <div class="table-cell">
                      Прием (осмотр, консультация) врача-терапевта первичный,
                      лечебно-диагностический, амбулаторный
                    </div>
                    <div class="table-cell">2 900 руб.</div>
                  </div>
                </div>
                <div data-more-item>
                  <div class="table-row">
                    <div class="table-cell">031141</div>
                    <div class="table-cell">
                      Прием (осмотр, консультация) врача-терапевта первичный,
                      лечебно-диагностический, амбулаторный
                    </div>
                    <div class="table-cell">2 900 руб.</div>
                  </div>
                </div>
                <div data-more-item>
                  <div class="table-row">
                    <div class="table-cell">031141</div>
                    <div class="table-cell">
                      Прием (осмотр, консультация) врача-терапевта первичный,
                      лечебно-диагностический, амбулаторный
                    </div>
                    <div class="table-cell">2 900 руб.</div>
                  </div>
                </div>
              </div>
            </div>
            <div data-more-btn class="btn-s prices-btn-more _outline">
              Показать еще
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
