<section class="s-hero">
  <div class="container s-hero__container">
    <div class="s-hero__body">
      <div class="swiper s-hero__bg-slider">
        <div class="swiper-wrapper">
          <div class="swiper-slide s-hero__bg-slide">
            <picture>
              <source srcset="@img/hero-mob.jpg" media="(max-width: 767px)">
              <img src="@img/hero.jpg" alt="image" />
            </picture>
          </div>
          <div class="swiper-slide s-hero__bg-slide">
            <picture>
              <source srcset="@img/hero-mob.jpg" media="(max-width: 767px)">
              <img src="@img/hero.jpg" alt="image" />
            </picture>
          </div>
          <div class="swiper-slide s-hero__bg-slide">
            <picture>
              <source srcset="@img/hero-mob.jpg" media="(max-width: 767px)">
              <img src="@img/hero.jpg" alt="image" />
            </picture>
          </div>
        </div>
      </div>
      <div class="s-hero__body-inside">
        <div class="swiper s-hero__slider">
          <div class="swiper-wrapper">
            <div class="swiper-slide s-hero__slide">
              <div class="s-hero__slide-info">
                <h1 class="s-title s-hero__slide-title">
                  Доктор F — Многопрофильная медицинская клиника в Нефтекамске
                </h1>
                <div class="content-box s-hero__slide-content">
                  <p>
                    Квалифицированные врачи. Дневной стационар.
                    <br />
                    Медосмотры. Все виды анализов.
                  </p>
                </div>
                <a
                  href="@img/hero.jpg"
                  data-fancybox
                  class="btn-s s-hero__slide-btn _blur"
                >
                  <svg class="icon-play">
                    <use xlink:href="img/icons/icons.svg#icon-play"></use>
                  </svg>
                  <span>Видео о клинике</span>
                </a>
              </div>
            </div>
            <div class="swiper-slide s-hero__slide">
              <div class="s-hero__slide-info">
                <div class="s-title s-hero__slide-title">
                  Доктор F — Многопрофильная медицинская клиника в Нефтекамске
                </div>
                <a
                  href="@img/hero.jpg"
                  data-fancybox
                  class="btn-s s-hero__slide-btn _blur"
                >
                  <svg class="icon-play">
                    <use xlink:href="img/icons/icons.svg#icon-play"></use>
                  </svg>
                  <span>Видео о клинике</span>
                </a>
              </div>
            </div>
            <div class="swiper-slide s-hero__slide">
              <div class="s-hero__slide-info">
                <div class="s-title s-hero__slide-title">
                  Доктор F — Многопрофильная медицинская клиника в Нефтекамске
                </div>
                <div class="content-box s-hero__slide-content">
                  <p>
                    Квалифицированные врачи. Дневной стационар.
                    <br />
                    Медосмотры. Все виды анализов.
                  </p>
                </div>
                <a
                  href="@img/hero.jpg"
                  data-fancybox
                  class="btn-s s-hero__slide-btn _blur"
                >
                  <svg class="icon-play">
                    <use xlink:href="img/icons/icons.svg#icon-play"></use>
                  </svg>
                  <span>Видео о клинике</span>
                </a>
              </div>
            </div>
          </div>
        </div>
        <div class="s-hero__nav">
          <div class="s-hero__nav-buttons">
            <a href="#modal-feedback" data-fancybox class="btn-s">Записаться на прием</a>
            <a href="#" target="_blank" rel="nofollow" class="btn-s _white">
              <span>Написать в МАХ</span>
              <svg class="icon">
                <use xlink:href='img/icons/icons.svg#icon-max'></use>
              </svg>
            </a>
          </div>
          <div class="slider-nav">
            <div class="slider-arrow _prev _blur">
              <svg>
                <use xlink:href='img/icons/icons.svg#icon-prev'></use>
              </svg>
            </div>
            <div class="slider-arrow _next _blur">
              <svg>
                <use xlink:href='img/icons/icons.svg#icon-next'></use>
              </svg>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="slider-progress s-hero__slider-progress"></div>
  </div>
</section>
