<section class="s-intro">
  <div class="container s-intro__container">
    <div class="s-intro__wrap">
      <div class="s-intro__body" style="background: url('@img/service.jpg') center / cover no-repeat;">
        <div class="breadcrumbs">
          <div class="container">
            <div class="aioseo-breadcrumbs">
              <span class="aioseo-breadcrumb">
                <a href="/">Главная</a>
              </span>
              <span class="aioseo-breadcrumb-separator">»</span>
              <span class="aioseo-breadcrumb">
                <a href="/">Услуги</a>
              </span>
              <span class="aioseo-breadcrumb-separator">»</span>
              <span class="aioseo-breadcrumb">
                <a href="/">Консультации специалистов</a>
              </span>
              <span class="aioseo-breadcrumb-separator">»</span>
              <span class="aioseo-breadcrumb">Терапевт</span>
            </div>
          </div>
        </div>
        <div class="s-intro__info">
          <h1 class="s-title s-intro__title">Прием терапевта</h1>
          <div class="content-box s-intro__content">
            <p>
              Сложно сказать, почему элементы политического процесса могут быть
              заблокированы в рамках своих собственных рациональных ограничений.
            </p>
          </div>
          <a href="#modal-feedback" data-fancybox class="btn-s s-intro__btn">
            Записаться на прием
          </a>
        </div>
      </div>
      <div class="s-intro__adv">
        <div class="s-intro__adv-item">
          <div class="item-name">Стоимость первичного приема</div>
          <div class="item-val">от 2 900 руб.</div>
        </div>
        <div class="s-intro__adv-item">
          <div class="item-name">Стоимость повторного приема</div>
          <div class="item-val">от 2 850 руб.</div>
        </div>
        <div class="s-intro__adv-item">
          <div class="item-name">Длительность консультации</div>
          <div class="item-val">60 - 90 мин.</div>
        </div>
      </div>
    </div>
  </div>
</section>
