<section class="s-prices sect-m">
  <div class="container">
    <div class="sect-head">
      <div class="sect-head__wrap">
        <div class="sect-head__info">
          <div class="tag">Стоимость</div>
          <h2 class="s-title">Цены на основные услуги терапевта</h2>
        </div>
      </div>
    </div>
    <div data-count-show="10" class="container-more">
      <div class="prices-table">
        <div class="table-head">
          <div class="table-row">
            <div class="table-cell">Код услуги</div>
            <div class="table-cell">Услуга</div>
            <div class="table-cell">Стоимость</div>
          </div>
        </div>
        <div class="table-body">
          <div data-more-item>
            <div class="table-row">
              <div class="table-cell">031141</div>
              <div class="table-cell">Прием (осмотр, консультация) врача-терапевта первичный, лечебно-диагностический, амбулаторный</div>
              <div class="table-cell">2 900 руб.</div>
            </div>
          </div>
          <div data-more-item>
            <div class="table-row">
              <div class="table-cell">031141</div>
              <div class="table-cell">Прием (осмотр, консультация) врача-терапевта первичный, лечебно-диагностический, амбулаторный</div>
              <div class="table-cell">2 900 руб.</div>
            </div>
          </div>
          <div data-more-item>
            <div class="table-row">
              <div class="table-cell">031141</div>
              <div class="table-cell">Прием (осмотр, консультация) врача-терапевта первичный, лечебно-диагностический, амбулаторный</div>
              <div class="table-cell">2 900 руб.</div>
            </div>
          </div>
          <div data-more-item>
            <div class="table-row">
              <div class="table-cell">031141</div>
              <div class="table-cell">Прием (осмотр, консультация) врача-терапевта первичный, лечебно-диагностический, амбулаторный</div>
              <div class="table-cell">2 900 руб.</div>
            </div>
          </div>
          <div data-more-item>
            <div class="table-row">
              <div class="table-cell">031141</div>
              <div class="table-cell">Прием (осмотр, консультация) врача-терапевта первичный, лечебно-диагностический, амбулаторный</div>
              <div class="table-cell">2 900 руб.</div>
            </div>
          </div>
          <div data-more-item>
            <div class="table-row">
              <div class="table-cell">031141</div>
              <div class="table-cell">Прием (осмотр, консультация) врача-терапевта первичный, лечебно-диагностический, амбулаторный</div>
              <div class="table-cell">2 900 руб.</div>
            </div>
          </div>
          <div data-more-item>
            <div class="table-row">
              <div class="table-cell">031141</div>
              <div class="table-cell">Прием (осмотр, консультация) врача-терапевта первичный, лечебно-диагностический, амбулаторный</div>
              <div class="table-cell">2 900 руб.</div>
            </div>
          </div>
          <div data-more-item>
            <div class="table-row">
              <div class="table-cell">031141</div>
              <div class="table-cell">Прием (осмотр, консультация) врача-терапевта первичный, лечебно-диагностический, амбулаторный</div>
              <div class="table-cell">2 900 руб.</div>
            </div>
          </div>
          <div data-more-item>
            <div class="table-row">
              <div class="table-cell">031141</div>
              <div class="table-cell">Прием (осмотр, консультация) врача-терапевта первичный, лечебно-диагностический, амбулаторный</div>
              <div class="table-cell">2 900 руб.</div>
            </div>
          </div>
          <div data-more-item>
            <div class="table-row">
              <div class="table-cell">031141</div>
              <div class="table-cell">Прием (осмотр, консультация) врача-терапевта первичный, лечебно-диагностический, амбулаторный</div>
              <div class="table-cell">2 900 руб.</div>
            </div>
          </div>
          <div data-more-item>
            <div class="table-row">
              <div class="table-cell">031141</div>
              <div class="table-cell">Прием (осмотр, консультация) врача-терапевта первичный, лечебно-диагностический, амбулаторный</div>
              <div class="table-cell">2 900 руб.</div>
            </div>
          </div>
          <div data-more-item>
            <div class="table-row">
              <div class="table-cell">031141</div>
              <div class="table-cell">Прием (осмотр, консультация) врача-терапевта первичный, лечебно-диагностический, амбулаторный</div>
              <div class="table-cell">2 900 руб.</div>
            </div>
          </div>
        </div>
      </div>
      <div data-more-btn class="btn-s prices-btn-more _outline">Показать еще</div>
    </div>
  </div>
</section>
