<section class="s-promo sect-m">
  <div class="container">
    <div class="sect-head">
      <div class="sect-head__wrap">
        <div class="sect-head__info">
          <div class="tag">Акции</div>
          <h2 class="s-title">Специальные предложения</h2>
        </div>
        <div class="sect-head__nav">
          <a href="#" class="btn-s">Посмотреть все акции</a>
          <div class="slider-nav">
            <div class="slider-arrow _prev">
              <svg>
                <use xlink:href="img/icons/icons.svg#icon-prev"></use>
              </svg>
            </div>
            <div class="slider-arrow _next">
              <svg>
                <use xlink:href="img/icons/icons.svg#icon-next"></use>
              </svg>
            </div>
          </div>
        </div>
        <svg class="icon-swipe">
          <use xlink:href="img/icons/icons.svg#icon-swipe"></use>
        </svg>
      </div>
    </div>
    <div class="swiper s-promo__slider">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <a href="#" class="card-promo">
            <div class="card-promo__gallery">
              <img src="@img/promo.jpg" alt="image" />
            </div>
            <div class="card-promo__title">Медицинские анализы от 100₽</div>
            <div class="card-promo__date">15.06.2026 - 30.06.2026</div>
            <div class="card-promo__btn">Подробнее</div>
          </a>
        </div>
        <div class="swiper-slide">
          <a href="#" class="card-promo">
            <div class="card-promo__gallery">
              <img src="@img/promo.jpg" alt="image" />
            </div>
            <div class="card-promo__title">Медицинские анализы от 100₽</div>
            <div class="card-promo__date">15.06.2026 - 30.06.2026</div>
            <div class="card-promo__btn">Подробнее</div>
          </a>
        </div>
        <div class="swiper-slide">
          <a href="#" class="card-promo">
            <div class="card-promo__gallery">
              <img src="@img/promo.jpg" alt="image" />
            </div>
            <div class="card-promo__title">Медицинские анализы от 100₽</div>
            <div class="card-promo__date">15.06.2026 - 30.06.2026</div>
            <div class="card-promo__btn">Подробнее</div>
          </a>
        </div>
        <div class="swiper-slide">
          <a href="#" class="card-promo">
            <div class="card-promo__gallery">
              <img src="@img/promo.jpg" alt="image" />
            </div>
            <div class="card-promo__title">Медицинские анализы от 100₽</div>
            <div class="card-promo__date">15.06.2026 - 30.06.2026</div>
            <div class="card-promo__btn">Подробнее</div>
          </a>
        </div>
        <div class="swiper-slide">
          <a href="#" class="card-promo">
            <div class="card-promo__gallery">
              <img src="@img/promo.jpg" alt="image" />
            </div>
            <div class="card-promo__title">Медицинские анализы от 100₽</div>
            <div class="card-promo__date">15.06.2026 - 30.06.2026</div>
            <div class="card-promo__btn">Подробнее</div>
          </a>
        </div>
        <div class="swiper-slide">
          <a href="#" class="card-promo">
            <div class="card-promo__gallery">
              <img src="@img/promo.jpg" alt="image" />
            </div>
            <div class="card-promo__title">Медицинские анализы от 100₽</div>
            <div class="card-promo__date">15.06.2026 - 30.06.2026</div>
            <div class="card-promo__btn">Подробнее</div>
          </a>
        </div>
        <div class="swiper-slide">
          <a href="#" class="card-promo">
            <div class="card-promo__gallery">
              <img src="@img/promo.jpg" alt="image" />
            </div>
            <div class="card-promo__title">Медицинские анализы от 100₽</div>
            <div class="card-promo__date">15.06.2026 - 30.06.2026</div>
            <div class="card-promo__btn">Подробнее</div>
          </a>
        </div>
      </div>
    </div>
    <div class="slider-pagination _tablet"></div>
    <a href="#" class="btn-s s-promo__btn-more">Посмотреть все акции</a>
  </div>
</section>
