<section class="s-requisites sect-m">
  <div class="container">
    <div class="sect-head">
      <h2 class="s-title">Наши реквизиты</h2>
    </div>
    <div class="s-requisites__wrap">
      <div class="s-requisites__item">
        <div class="item-val">Полное наименование</div>
        <div class="item-row">
          <span>ООО “Полное наименование”</span>
          <div data-copy="ООО “Полное наименование”" class="btn-copy">
            <svg>
              <use xlink:href="img/icons/icons.svg#icon-copy"></use>
            </svg>
          </div>
        </div>
      </div>
      <div class="s-requisites__item">
        <div class="item-val">Сокращенное наименование</div>
        <div class="item-row">
          <span>ООО “Сокращенное наименование”</span>
          <div data-copy="ООО “Сокращенное наименование”" class="btn-copy">
            <svg>
              <use xlink:href="img/icons/icons.svg#icon-copy"></use>
            </svg>
          </div>
        </div>
      </div>
      <div class="s-requisites__item">
        <div class="item-val">Полное наименование</div>
        <div class="item-row">
          <span>ООО “Полное наименование”</span>
          <div data-copy="ООО “Полное наименование”" class="btn-copy">
            <svg>
              <use xlink:href="img/icons/icons.svg#icon-copy"></use>
            </svg>
          </div>
        </div>
      </div>
      <div class="s-requisites__item">
        <div class="item-val">Сокращенное наименование</div>
        <div class="item-row">
          <span>ООО “Сокращенное наименование”</span>
          <div data-copy="ООО “Сокращенное наименование”" class="btn-copy">
            <svg>
              <use xlink:href="img/icons/icons.svg#icon-copy"></use>
            </svg>
          </div>
        </div>
      </div>
      <div class="s-requisites__item">
        <div class="item-val">Полное наименование</div>
        <div class="item-row">
          <span>ООО “Полное наименование”</span>
          <div data-copy="ООО “Полное наименование”" class="btn-copy">
            <svg>
              <use xlink:href="img/icons/icons.svg#icon-copy"></use>
            </svg>
          </div>
        </div>
      </div>
      <div class="s-requisites__item">
        <div class="item-val">Сокращенное наименование</div>
        <div class="item-row">
          <span>ООО “Сокращенное наименование”</span>
          <div data-copy="ООО “Сокращенное наименование”" class="btn-copy">
            <svg>
              <use xlink:href="img/icons/icons.svg#icon-copy"></use>
            </svg>
          </div>
        </div>
      </div>
    </div>
    <div
      data-copy="Полное наименование: ООО “Полное наименование”&#10;Полное наименование: ООО “Полное наименование”&#10;Полное наименование: ООО “Полное наименование”&#10;Полное наименование: ООО “Полное наименование”&#10;Полное наименование: ООО “Полное наименование”"
    class="btn-s s-requisites__btn-all">Скопировать все</div>
  </div>
</section>
