<section class="sect-m s-something">
  <div class="container">
    <div class="s-something__wrap">
      <div class="s-something__info">
        <div class="sect-head">
          <div class="sect-head__wrap">
            <div class="sect-head__info">
              <div class="tag">Об услуге</div>
              <h2 class="s-title">Прием терапевта в «Доктор Ф»</h2>
            </div>
          </div>
        </div>
        <div class="content-box">
          <p>
            Наше дело не так однозначно, как может показаться: синтетическое
            тестирование в значительной степени обусловливает важность
            дальнейших направлений развития. Не следует, однако, забывать, что
            постоянный количественный рост и сфера нашей активности создаёт
            необходимость включения в производственный план целого ряда
            внеочередных мероприятий с учётом комплекса соответствующих условий
            активизации! Но граница обучения кадров в значительной степени
            обусловливает важность форм воздействия.
          </p>
        </div>
        <div class="s-something__tabs tabs">
          <div class="tabs-nav s-something__tabs-buttons">
            <div
              data-tab-btn="something-tab-0"
              class="s-something__tab-btn _active"
            >
              Диагностика
            </div>
            <div data-tab-btn="something-tab-1" class="s-something__tab-btn">
              Лечение
            </div>
          </div>
          <div class="tabs-content">
            <div data-tab="something-tab-0" class="_active _show">
              <div class="content-box s-something__tab-content">
                <ul>
                  <li>Младая поросль матереет</li>
                  <li>Сейчас всё чаще звучит трубный призыв</li>
                  <li>Не следует забывать, что кровь стынет в жилах</li>
                  <li>Светлый лик правового взаимодействия бодрит</li>
                  <li>Господа, жизнь прекрасна</li>
                </ul>
              </div>
            </div>
            <div data-tab="something-tab-1">
              <div class="content-box s-something__tab-content">
                <ul>
                  <li>Младая поросль матереет</li>
                  <li>Сейчас всё чаще звучит трубный призыв</li>
                  <li>Господа, жизнь прекрасна</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="s-something__gallery">
        <div class="s-something__gallery-inside">
          <img src="@img/something.jpg" alt="image" />
        </div>
      </div>
    </div>
  </div>
</section>
