<section class="sect-p s-team bg-ghost">
  <div class="container">
    <div class="sect-head">
      <div class="sect-head__wrap">
        <div class="sect-head__info">
          <div class="tag _white">Квалифицированные врачи</div>
          <h2 class="s-title">Наши специалисты</h2>
        </div>
        <div class="sect-head__nav">
          <a href="#" class="btn-s">Все врачи</a>
          <div class="slider-nav">
            <div class="slider-arrow _prev _white">
              <svg>
                <use xlink:href="img/icons/icons.svg#icon-prev"></use>
              </svg>
            </div>
            <div class="slider-arrow _next _white">
              <svg>
                <use xlink:href="img/icons/icons.svg#icon-next"></use>
              </svg>
            </div>
          </div>
        </div>
        <svg class="icon-swipe">
          <use xlink:href="img/icons/icons.svg#icon-swipe"></use>
        </svg>
      </div>
    </div>
    <div class="swiper s-team__slider">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <article class="card-team">
            <a href="#" class="card-team__gallery">
              <img src="@img/team.jpg" alt="image" class="card-team__img" />
              <h3 class="card-team__title">Фазлетдинов Абдулла Дамирович</h3>
            </a>
            <div class="card-team__tag">Стаж работы: 20 лет</div>
            <p class="card-team__content">
              Врач-уролог, в 2001 окончил Башкирский медицинский государственный
              университет. Кандидат медицинских наук.
            </p>
            <a href="#" class="btn-simple card-team__btn-more">Подробнее</a>
            <a
              href="#modal-feedback"
              data-fancybox
              data-modal-title="Записаться на приём"
              data-target-note="#modal-feedback .input-note"
              data-btn-note="Записаться к врачу: Фазлетдинов Абдулла Дамирович"
              class="btn-s card-team__btn"
            >
              Записаться на прием
            </a>
          </article>
        </div>
        <div class="swiper-slide">
          <article class="card-team">
            <a href="#" class="card-team__gallery">
              <img src="@img/team.jpg" alt="image" class="card-team__img" />
              <h3 class="card-team__title">Фазлетдинов Абдулла Дамирович</h3>
            </a>
            <div class="card-team__tag">Стаж работы: 20 лет</div>
            <p class="card-team__content">
              Врач-уролог, в 2001 окончил Башкирский медицинский государственный
              университет. Кандидат медицинских наук.
            </p>
            <a href="#" class="btn-simple card-team__btn-more">Подробнее</a>
            <a
              href="#modal-feedback"
              data-fancybox
              data-modal-title="Записаться на приём"
              data-target-note="#modal-feedback .input-note"
              data-btn-note="Записаться к врачу: Фазлетдинов Абдулла Дамирович"
              class="btn-s card-team__btn"
            >
              Записаться на прием
            </a>
          </article>
        </div>
        <div class="swiper-slide">
          <article class="card-team">
            <a href="#" class="card-team__gallery">
              <img src="@img/team.jpg" alt="image" class="card-team__img" />
              <h3 class="card-team__title">Фазлетдинов Абдулла Дамирович</h3>
            </a>
            <div class="card-team__tag">Стаж работы: 20 лет</div>
            <p class="card-team__content">
              Врач-уролог, в 2001 окончил Башкирский медицинский государственный
              университет. Кандидат медицинских наук.
            </p>
            <a href="#" class="btn-simple card-team__btn-more">Подробнее</a>
            <a
              href="#modal-feedback"
              data-fancybox
              data-modal-title="Записаться на приём"
              data-target-note="#modal-feedback .input-note"
              data-btn-note="Записаться к врачу: Фазлетдинов Абдулла Дамирович"
              class="btn-s card-team__btn"
            >
              Записаться на прием
            </a>
          </article>
        </div>
        <div class="swiper-slide">
          <article class="card-team">
            <a href="#" class="card-team__gallery">
              <img src="@img/team.jpg" alt="image" class="card-team__img" />
              <h3 class="card-team__title">Фазлетдинов Абдулла Дамирович</h3>
            </a>
            <div class="card-team__tag">Стаж работы: 20 лет</div>
            <p class="card-team__content">
              Врач-уролог, в 2001 окончил Башкирский медицинский государственный
              университет. Кандидат медицинских наук.
            </p>
            <a href="#" class="btn-simple card-team__btn-more">Подробнее</a>
            <a
              href="#modal-feedback"
              data-fancybox
              data-modal-title="Записаться на приём"
              data-target-note="#modal-feedback .input-note"
              data-btn-note="Записаться к врачу: Фазлетдинов Абдулла Дамирович"
              class="btn-s card-team__btn"
            >
              Записаться на прием
            </a>
          </article>
        </div>
        <div class="swiper-slide">
          <article class="card-team">
            <a href="#" class="card-team__gallery">
              <img src="@img/team.jpg" alt="image" class="card-team__img" />
              <h3 class="card-team__title">Фазлетдинов Абдулла Дамирович</h3>
            </a>
            <div class="card-team__tag">Стаж работы: 20 лет</div>
            <p class="card-team__content">
              Врач-уролог, в 2001 окончил Башкирский медицинский государственный
              университет. Кандидат медицинских наук.
            </p>
            <a href="#" class="btn-simple card-team__btn-more">Подробнее</a>
            <a
              href="#modal-feedback"
              data-fancybox
              data-modal-title="Записаться на приём"
              data-target-note="#modal-feedback .input-note"
              data-btn-note="Записаться к врачу: Фазлетдинов Абдулла Дамирович"
              class="btn-s card-team__btn"
            >
              Записаться на прием
            </a>
          </article>
        </div>
        <div class="swiper-slide">
          <article class="card-team">
            <a href="#" class="card-team__gallery">
              <img src="@img/team.jpg" alt="image" class="card-team__img" />
              <h3 class="card-team__title">Фазлетдинов Абдулла Дамирович</h3>
            </a>
            <div class="card-team__tag">Стаж работы: 20 лет</div>
            <p class="card-team__content">
              Врач-уролог, в 2001 окончил Башкирский медицинский государственный
              университет. Кандидат медицинских наук.
            </p>
            <a href="#" class="btn-simple card-team__btn-more">Подробнее</a>
            <a
              href="#modal-feedback"
              data-fancybox
              data-modal-title="Записаться на приём"
              data-target-note="#modal-feedback .input-note"
              data-btn-note="Записаться к врачу: Фазлетдинов Абдулла Дамирович"
              class="btn-s card-team__btn"
            >
              Записаться на прием
            </a>
          </article>
        </div>
      </div>
    </div>
    <div class="slider-pagination _tablet"></div>
    <a href="#" class="btn-s s-team__btn-more">Все врачи</a>
  </div>
</section>
